<div id="home-container">
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-4">Alpha Blog</h1>
            <p class="lead">Just a random website with random articles</p>
            <hr class="my-4">
            <p>pssst... this button ↓ is pointless</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Pointless button</a>
        </div>
    </div>
</div>