<div class="container">
    <% flash.each do |name, msg| %> <%# displays message up top after creation %>
        <div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissible fade show pe-5" role="alert">
            <%= msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    <% end %>
</div>